/* General styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background-color: #efefef;
    color: #96858f;
    font: 1em/1.5 "Roboto Condensed", sans-serif;
}

header .main-heading {
    text-align: right;
}

.colors-used {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.colors-used h3 {
    margin-top: 5px;
}

/* figure {
    margin: 0 0 10px 0;
} */

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color h5 {
    margin: 5px 0;
}

#canvas-menu .colors-used .primary-color, #canvas-menu .colors-used .secondary-color, #canvas-menu .colors-used .hr-color {
    height: 70px;
    width: 70px;
}

#canvas-menu .colors-used .primary-color {
    background: #96858f;
}

#canvas-menu .colors-used .secondary-color {
    background: #9099a2;
}

#canvas-menu .colors-used .hr-color {
    background: #6d7993;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6d7993;
}

header .logo img{
   width: 100%;
   height: auto;
   pointer-events: none;
}

header .logo {
    width: 15%;
}

header .main-heading h1 {
    color: #9099a2;
    margin-bottom: 0;
}

header .main-heading h2 {
    color: #9099a2;
    margin-top: 0;
}

#banner-img {
    width: 100%;
}

.main-section .featured-work h3{
    width: 100%;
}

.main-section .featured-work .featured-work-title, .main-section .featured-work .featured-work-link  {
    margin: 0.5em 0 0 0;
    text-align: center;
}

.featured-work article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.featured-work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3.5em;
}

.featured-work picture, .featured-work img{
    text-align: center;
}

a {
    text-decoration: none;
    color: #6d7993;
}
a:hover, a:active {
    color: #9099a2;
}

footer {
    padding: 1em 0;
    font-size: 0.8em;
    text-align: right;
    border-top: 2px solid #6d7993;
}

footer .email-to {
    margin-left: 2em;
}
/* Media Queries */
@media (max-width: 500px) {
    
    .featured-work picture, .featured-work img {
        width: 100%;
    }

    header .main-heading h1 {
        font-size: 1em;
    }

    header .main-heading h2 {
        font-size: 0.75em;
    }
}

@media (min-width: 501px) and (max-width: 786px) {
    header #sidebar-menu-icon {
        font-size: 1.5em;
    }

    .featured-work picture, .featured-work img{
        width: 75%;
    }
}

@media (max-width: 786px) {
    #canvas-menu {
        display: flex;
        flex-direction: column;
        background: #e7e7e7;
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }

    #sidebar-menu-icon:hover, #close-sidebar-menu:hover {
        cursor: pointer;
    }

    #canvas-menu #close-sidebar-menu {
        width: 100%;
        text-align: right;
        /* padding: 20px; */
        font-size: 1.2em;
    }

    #canvas-menu #close-sidebar-menu .fa-times {
        margin: 20px 20px 0 0;
    }

    #canvas-menu .colors-used {
        width: 100%;
        margin-top: 2em;
        height: 100%;
        justify-content: space-evenly;
    }
    
    /* nav #close-sidebar-menu {
    
    } */
    #canvas-menu.open {
        overflow-y: hidden;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }

    header .main-heading {
        width: 70%;
    }

    header #sidebar-menu-icon {
        width: 15%;
        text-align: center;
    }

    #banner-img {
        margin-top: 1em;
    }

    .featured-work h3 {
        text-align: center;
    }

    .featured-work article {
        margin-bottom: 2em;
        width: 100%;
    }
}

@media (min-width: 787px) {
    body {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .colors-used {
        justify-content: flex-start;
    }

    #close-sidebar-menu {
        display: none;
    }

    #canvas-menu {
        align-self: stretch;
        width: 15%;
        position: relative;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        margin-top: 9.5em;
    }
    
    .main-section {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    header .logo {
        width: 10%;
    }

    header .main-heading {
        width: 90%;
        text-align: right;
    }

    header #sidebar-menu-icon {
        display: none;
    }

    #banner-img {
        margin-top: 1.5em;
    }

    .featured-work {
        justify-content: space-between;
    }

    .featured-work picture, .featured-work img{
        width: 100%;
    }

    .featured-work article {
        width: 30%;
    }

    .featured-work h3 {
        font-size: 1.75em;
    }
   
}

@media (min-width: 787px) and (max-width: 1199px) {
    #canvas-menu .colors-used .primary-color, #canvas-menu .colors-used .secondary-color, #canvas-menu .colors-used .hr-color {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 820px) {
    .colors-used {
        height: 95%;
    }
}

@media (min-width: 1010px) {
    #canvas-menu .colors-used .primary-color, #canvas-menu .colors-used .secondary-color, #canvas-menu .colors-used .hr-color {
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 1200px) {
   body {
       width: 1200px;
       margin-left: auto;
       margin-right: auto;
   }
}